@page
@model ClinicWebApp.Pages.Admin.VisitManager.VisitGeneratorModel
@{
}
@* <script src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
<link href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet" /> *@

<div class="form-wrap">
    <form asp-page="VisitGenerator" asp-route-SelectedDate=@Model.SelectedDate method="post" class="form">
        <div asp-validation-summary="All" class="validation-error"></div>

        <label asp-for="VisitGap" class="label"></label>
        <input asp-for="VisitGap" class="input" /> @* id="time" *@ @*How to make it 24 hour format*@
        <span asp-validation-for="VisitGap" class="span"></span>

        <label asp-for="StartTime" class="label"></label>
        <input asp-for="StartTime" class="input" />
        <span asp-validation-for="StartTime" class="span"></span>

        <label asp-for="StopTime" class="label"></label>
        <input asp-for="StopTime" class="input" />
        <span asp-validation-for="StopTime" class="span"></span>

        <label asp-for="Title" class="label"></label>
        <input asp-for="Title" class="input" />
        <span asp-validation-for="Title" class="span"></span>

        <label asp-for="Price" class="label"></label>
        <input asp-for="Price" class="input" />
        <span asp-validation-for="Price" class="span"></span>

        <input type="submit" value="ساخت نوبت" class="button" />
    </form>

    @* <script>
    var timepicker = new TimePicker('time', {
    lang: 'en',
    theme: 'dark'
    });
    timepicker.on('change', function (evt) {

    var value = (evt.hour || '00') + ':' + (evt.minute || '00');
    evt.element.value = value;

    });
    </script> *@
</div>