@page
@model ClinicWebApp.Pages.Admin.VisitManager.VisitGeneratorModel
@{
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<div class="form-wrap">
    <form asp-page="VisitGenerator" asp-route-SelectedDate=@Model.SelectedDate method="post" class="form">
        <div asp-validation-summary="All" class="validation-error"></div>

        <label asp-for="TimeDifference" class="label"></label>
        <input asp-for="TimeDifference" class="input" />
        <span asp-validation-for="TimeDifference" class="span"></span>

        <label asp-for="StartTime" class="label"></label>
        <input asp-for="StartTime" class="input" />
        <span asp-validation-for="StartTime" class="span"></span>

        <label asp-for="StopTime" class="label"></label>
        <input asp-for="StopTime" class="input" />
        <span asp-validation-for="StopTime" class="span"></span>

        <label asp-for="Title" class="label"></label>
        <input asp-for="Title" class="input" />
        <span asp-validation-for="Title" class="span"></span>

        <label asp-for="Price" class="label"></label>
        <input asp-for="Price" class="input" />
        <span asp-validation-for="Price" class="span"></span>

        <input type="submit" value="ساخت نوبت" class="button" />
    </form>
</div>

<script>
    flatpickr("#StartTime", {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true
    });

    flatpickr("#StopTime", {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true
    });
</script>