@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}
<!-- home section starts  -->
<section class="home" id="home">

    <div class="image">
        <img src="./img/home-img.svg" alt="">
    </div>

    <div class="content">
        <h3>stay safe, stay healthy</h3>
        <p dir="auto" style="color:black">Mobi dental clinics is known for its best services and guidance from <b>Dr.mobina momeni(dental and oral surgeon).</b></p>
        <a href="#" class="btn"> TIME :10:00 A.M. to 6:00 P.M.(Call dentist before appointment) </a>
    </div>

</section>

<!-- home section ends -->
<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-user-md"></i>
        <h3>@Model.DoctorCount</h3>
        <p>پزشکان فعال</p>
    </div>

    <div class="icons">
        <i class="fas fa-users"></i>
        <h3>500+</h3>
        <p>رضایت مشتری</p>
    </div>

    <div class="icons">
        <i class="fas fa-procedures"></i>
        <h3>A+</h3>
        <p> امکانات</p>
    </div>

    <div class="icons">
        <i class="fas fa-hospital"></i>
        <h3>2</h3>
        <p>کلینیک های فعال</p>
    </div>

</section>

<!-- icons section ends -->
<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> our services </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-user-md"></i>
            <h3>پزشکان متخصص</h3>
            <p>پزشکان معتبر در خدمت شما خواهند بود.</p>
            <a asp-page="./User/DoctorObserver/DoctorList" class="btn"> بیشتر <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fas fa-pills"></i>
            <h3>داروها</h3>
            <p>همه داروها دارای گواهی و قابل اعتماد برای استفاده هستند.</p>
            <a href="#" class="btn"> بیشتر <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fas fa-heartbeat"></i>
            <h3>مراقبت کامل</h3>
            <p>داروها و درمان کامل به بیماران ما ارائه خواهد شد.</p>
            <a href="#" class="btn"> بیشتر <span class="fas fa-chevron-right"></span> </a>
        </div>

    </div>

</section>

<!-- services section ends -->
<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span>درباره</span> ما </h1>

    <div class="row">

        <div class="image">
            <img src="/img/about-img.svg" alt="">
        </div>

        <div dir="auto" class="content">
            <h3>ما از زندگی سالم شما مراقبت می کنیم</h3>
            <p>ما انواع خدمات درمانی و پیشگیری را ارائه می دهیم که هر کدام در خط مقدم صنعت پزشکی هستند و برای ارائه جامع ترین مزایا به بیماران خود طراحی شده اند.</p>
            <p>از قدرت خلاقیت و تعهد به نوآوری استفاده کنید تا ما را قادر سازد تا یک رهبر منطقه ای در مراقبت های بهداشتی، ارائه دهنده الگوی یادگیری مستمر و استاندارد در توسعه نیروی کار باشیم.</p>
            <a href="#" class="btn"> بیشتر بخوانید <span class="fas fa-chevron-right"></span> </a>
        </div>

    </div>

</section>

<!-- about section ends -->
<!-- doctors section starts  -->

<section class="doctors" id="doctors">

    <h1 class="heading" <span>الان</span> نوبت بگیر </h1>

    <div class="box-container">
        @foreach (var (doctorUser, doctorInfo) in Model.Doctors)
        {
            <a asp-page="./User/DoctorObserver/DoctorList" class="box">
                <img src=@doctorInfo.ProfileSrc alt=@doctorUser.Name>
                <h3>@doctorUser.Name</h3>
                <span>@doctorInfo.Profession</span>
            </a>
        }
    </div>

</section>

<!-- doctors section ends -->
<!-- booking section starts   -->
<div>
    @* <section class="book" id="book">

    <h1 class="heading"> <span>الان</span> نوبت بگیر </h1>

    <div class="row">


    <div class="form-new" data-wow-delay="0.5s">
    <div class="form-img"><img src="./img/book-img.svg" class="img-sec"></div>
    <div class="form-actual">
    <div class="section-title text-start">
    <h1>ارتباط با ما</h1>
    </div>
    <h3 class="mb-4 pb-2">
    با ما در تماس باشید. کلینیک به زودی پاسخ میدهد!
    </h3>
    <form>
    <div class="form-lower">
    <div class="col-12 col-sm-6">
    <input type="text" class="input-box" placeholder="نام شما"
    style="height: 5rem ; width: 100%;" id="user-name">
    </div>
    <div class="col-12 col-sm-6">
    <input type="email" class="input-box" placeholder="ایمیل"
    style="height: 5rem;width: 100%;" id="user-email">
    </div>
    <div class="col-12 col-sm-6">
    <input type="text" class="input-box" placeholder="شماره تماس"
    style="height: 5rem;width: 100%;" id="user-phone">
    </div>
    <div class="col-12 col-sm-6">
    <input type="text" class="input-box" placeholder="پیام شما به پزشک"
    style="height: 5rem;width: 100%;" id="your-message">
    </div>

    <div class="col-12">
    <button class="btn btn-primary w-20 py-3" type="submit"
    id="btn-submit">
    ارسال
    </button>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>

    </section>

    <div /> *@

    <!-- booking section ends -->
    <!-- review section starts  -->

    <div class="review" id="review">

        <h1 class="heading"> نظر <span>کاربران</span> </h1>
        <a href="comment.html"></a>

        <div class="box-container" id="targetAdd">

            <div class="box1">
                <img src="./img/amin.jpg" alt="">
                <h3>amin moradi</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div dir="auto" class="text">
                    بیماران در دستان دکتر مبینا مومنی احساس راحتی و امنیت می کنند. او را به همه کسانی که به دنبال مراقبت های دندانپزشکی دلسوزانه و با کیفیت هستند توصیه می کنم.
                </div>
            </div>

            <div class="box1">
                <img src="./img/maryam.jpg" alt="">
                <h3>maryam hosseini</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div dir="auto" class="text">از مدت ها قبل در دندانم درد داشتم اما هیچ دندانپزشکی به جز دکتر مبینا مومنی مشکلم را شناسایی و شروع به تشخیص کرد. او بسیار مودب است و به صحبت های هر بیمار با دقت گوش می دهد و درمان لازم برای انجام را به وضوح توضیح می دهد. من به شدت آن را به شما توصیه می کنم.</div>
            </div>

            <div class="box1">
                <img src="./img/hanie.jpg" alt="">
                <h3>hanie omidi</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div dir="auto" class="text">
                    نقد من برای دکتر مبینا مومنی است. من با دکتر مبینا مشورت کردم. من درد شدید داشتم و خیلی عصبی بودم. او به طور کامل معاینه کرد، چند دارو تجویز کرد و از من خواست که یک هفته صبر کنم. او یک متخصص است، من به بیماران توصیه می کنم بدون تردید با او مشورت کنند. با تشکر فراوان، دکتر مبینا
                </div>
            </div>

        </div>
         <div class="reviewBottom">
        <a href="comment.html" id="revBtn" class="btn btn-primary w-20 py-3">ثبت نظر</a>
        </div>
    </div>



    </div>

</div>

<!-- review section ends -->
<!-- blogs section starts  -->
<div>
    <section class="blogs" id="blogs">

        <h1 class="heading"> اخرین <span>اخبار</span> </h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="./img/cx.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href="#"> <i class="fas fa-calendar"></i> 4bahman1402 </a>
                    </div>

                    <a href="#" class="btn"> بیشتر <span class="fas fa-chevron-right"></span> </a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="./img/lm.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href="#"> <i class="fas fa-calendar"></i> 12 esfand1403 </a>
                    </div>
                    <h3>اگر بعد از کرونادچار بی خوابی شده اید بخوانید</h3>
                    <p> هوآنگ به بیماران مبتلا به کووید که مشکلات خواب را تجربه می‌کنند توصیه‌هایی ارائه کرد..</p>
                    <a href="#" class="btn"> بیشتر <span class="fas fa-chevron-right"></span> </a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="./img/ddd.jpg" alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <a href="#"> <i class="fas fa-calendar"></i> 15farvardin1403 </a>
                    </div>
                    <h3> درمان سوختگی یک قدم نزدیکتر </h3>
                    <p>محققان در حال حرکت برای متحول کردن درمان سوختگی با معرفی پوست مهندسی زیستی هستند.</p>
                    <a href="#" class="btn"> بیشتر <span class="fas fa-chevron-right"></span> </a>


                </div>
            </div>

        </div>
        <div />
    </section>
</div>
